<div style="position: relative; background-image: linear-gradient(to bottom right, #08436b, #52cbcf); width: 100vw; height: 100vh">
  <div class="width74 left10" style="position: absolute; left: 35vw; top: 25vh; padding-inline: 3vw; width: 24vw; height: 50vh; background: white; border-radius: 1vh; box-shadow: 0.4vh 0.4vh 1.5vh 1vh #00000080; text-align: center;">
    <div class="font-3" style="font-size: 5vh; font-weight: 600; margin-top: 4vh; border-bottom: 0.1vh solid rgba(180,180,180); padding-bottom: 2vh">
      <img class="width35" src="/public/images/logo_blue.png" style="width: 15vw;">
    </div>
    <div style="margin-inline: 2.5vh; margin-top: 6vh;">
      <div style="display: flex; flex-direction: row; border-bottom: 0.1vh solid black; align-items: center;">
        <i style="width: 10%; font-size: 3.8vh;" class="fas fa-user-headset"></i>
        <input id="user" style="margin: 0; padding: 0; width: 100%; margin-left: 3%; font-size: 3vh; height: 4.4vh; border: 0" placeholder="Digite seu usuário">
      </div>
      <div style="margin-top: 4vh; display: flex; flex-direction: row; border-bottom: 0.1vh solid black; align-items: center;">
        <i style="width: 10%; font-size: 3.8vh" class="fas fa-lock"></i>
        <input id="password" type="password" style="margin: 0; padding: 0; width: 100%; margin-left: 3%; font-size: 3vh; height: 4.4vh; border: 0" placeholder="Digite sua senha">
      </div>
      <div id="login" onclick="login()" class="buttonLogin2" style="margin-inline: 2vw; padding-block: 1.5vh; font-size: 4vh; border-radius: 8vh; margin-top: 3vh;">
        <p class="font-1">Login</p>
      </div>
    </div>
  </div>
</div>
<script>
  function login(user, password) {
    if (!user && document.getElementById('user') && document.getElementById('user').value) user = document.getElementById('user').value;
    if (!password && document.getElementById('password') && document.getElementById('password').value) password = document.getElementById('password').value;
    if (!user || !password) return alert('Coloque seu usuário e senha...')
    if (document.getElementById('login').classList.contains('buttonBlock')) return alert('Aguarde...')
    document.getElementById('login').classList.add("buttonBlock");
    $.ajax({ type: "post", url: `http://localhost:3000/login`, data: JSON.stringify({ user: user, password: password }), contentType:"application/json; charset=utf-8",
      success: function(s) {
        document.getElementById('login').classList.remove("buttonBlock");
        if (s.error) return alert(s.error)
        localStorage.setItem('user', user)
        localStorage.setItem('password', password)
        if (window.location.pathname.split('/')[1] == "login") {
          return location.href = `/`
        } else if (window.location.pathname.split('/')[1] && window.location.pathname.split('/')[2]) {
          $(document.body).load(`/views/pages/${window.location.pathname.split('/')[1]}/${window.location.pathname.split('/')[2]}.html`, function(res, status, xhr) { if (status == "error") return $(document.body).load(`/views/pages/dashboard/destaque.html`) })
        } else if (window.location.pathname.split('/')[1]) {
          return $(document.body).load(`/pages/${window.location.pathname.split('/')[1]}.html`, function(res, status, xhr) { if (status == "error") return $(document.body).load(`/views/pages/dashboard/destaque.html`) })
        } else return $(document.body).load(`/views/pages/dashboard/destaque.html`)
      },
      error: function(e) {
        document.getElementById('login').classList.remove("buttonBlock");
        if (e && e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`Ocorreu algum erro indefinido! Mande print do erro para o Yuri:\n ${JSON.stringify(e)}`)
      }
    });
  }
</script>